html {
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    max-width: 500px;
    margin: 0 auto;
    background-color: #aaa;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

input {
    background-color: #2f2;
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

input:focus {
    outline: none;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

.remove {
    padding-bottom: 5px;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: 1px solid black;
}